main {
    padding: 0.5rem;
}

img {
    width: 100%;
}

.retourIcon {
    rotate: 180deg;
}

.icon {
    width: 24px;
    height: 24px;
}

.retour {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

.retour span {
    font-family: var(--font-Manrope);
    font-size: 1rem;
    font-weight: 400;
}

.images-produit {
    position: relative;
}

.petite_images-produit {
    position: absolute;
    background-color: grey;
    opacity: 50%;
    bottom: 0;
}

.petite_images-produit button {
    width: 30%;
    opacity: inherit;
    background-color: grey;
    border: none;
}

.produit-titre h1 {
    font-family: var(--font-Manrope);
    font-size: 2rem;
    font-weight: 400;
    margin: 10px 0;
}

.produit-titre p, .produit-prix > span {
    font-family: var(--font-Manrope);
    font-size: 20px;
    font-weight: 400;
}

.produit-prix {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

.produit-prix > p {
    font-family: var(--font-Archivo);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.92px;
    text-transform: uppercase;
}

.produit-quantite {
    display: flex;
    gap: 10px;
}

.produit-quantite > p, .quantite span, .quantite p {
    font-family: var(--font-Manrope);
    font-size: 20px;
    font-weight: 600;
}

.quantite {
    display: flex;
    gap: 10px;
    background-color: white;
}

.produits-livraisons {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-beige-foncer);
}

.produit-livraison > div:first-child {
    display: flex;
}





































































.slider h1 {
    margin-top: 5rem;
    text-align: center;
    font-family: var(--font-Archivo);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.92px;
}

.cartes:has(.carte + .carte) .carte:nth-child(n+2) {
    display: none;
}

.carte {
    max-width: 450px;
    border: 0.5px solid #000;
    margin: 1rem;
    background-color: var(--color-beige-foncer);
}

.carte a > img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.carte .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1.25rem 2.5rem;
    background-color: var(--color-beige-foncer);
}

.carte .content p {
    font-family: var(--font-Archivo);
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.carte .content > span {
    font-family: var(--font-Archivo);
    font-size: 1rem;
    font-weight: 400;
}

.carte .content .prix {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.carte .content .prix span {
    font-family: var(--font-Manrope);
    font-size: 20px;
    font-weight: 800;
}

.carte .content .prix button {
    background-color: var(--color-beige-foncer);
    border: none;
    cursor: pointer;
}

.carte .content .prix img {
    max-width: 24px;
}

@media (min-width: 769px) {
    .cartes {
        display: flex;
    }

    .cartes:has(.carte + .carte) .carte:nth-child(n+2) {
        display: block;
    }
}